
html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  background-color: #FAFAFA;
  background-image: url("bush.png");
  background-position: center bottom;
  background-size: 60px;
  background-repeat: repeat-x;
  background-attachment: fixed;
}

.set-width{
  margin: auto;
}


@media screen and (min-width: 601px) {
  .space{
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 600px) {
  .space {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 601px) {
  .set-width{
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .set-width {
    width: 95%;
  }
}

.flex {
  display: flex;
  justify-content: center;
}

.menu {
  top: 1%;
  padding: 20px;
  max-height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  position: fixed;
}

@media screen and (min-width: 601px) {
  .menu img {
    width: 60px;
  }
}

@media screen and (max-width: 600px) {
  .menu img {
    width: 50px;
  }
}


#my-name {
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  color: #000000;
}

@media screen and (min-width: 601px) {
  #my-name {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  #my-name {
    font-size: 14px;
  }
}

@media screen and (min-width: 601px) {
  #page {
    font-size: 24px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  #page {
    font-size: 14px;
  }
}

#page {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace
}


/* Animation */
p {
  font-family: 'Roboto Mono', monospace;
  font-size: inherit;
  border-right: solid 3px rgb(0,0,0);
  animation: animated-text 1s steps(20,end) 1s 1 normal both,
             animated-cursor 400ms steps(20,end) infinite;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: -5px;
}


/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 620px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

.welcome {
  border-color: #000000;
  border-style: solid;
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;
  padding: 30px;
  display: flex;
  margin: auto;
  width: 95%;
}

.welcome img {
  align-self: center;
  margin-right: 40px;
}

@media screen and (min-width: 701px) {
  .welcome img{
    width: 180px;
  }
}

@media screen and (max-width: 700px) {
  .welcome img {
    display: none;
  }
}

@media screen and (min-width: 701px) {
  .welcome{
      font-size: 28px;
      margin-top: 180px;
      margin-bottom: 40px;
  }
}

@media screen and (max-width: 700px) {
  .welcome{
      font-size: 16px;
      margin-top: 150px;
      margin-bottom: 150px;
  }
}


#ciscoBtn:hover ~ #ciscoBtnTriangle {
    display: block;
}

#ciscoBtnTriangle {
    display: none;
    position: absolute;
    left: -50px;
}

#mayvBtn:hover ~ #mayvBtnTriangle {
    display: block;
}

#mayvBtnTriangle {
    display: none;
    position: absolute;
    left: -50px;
}

#playfitBtn:hover ~ #playfitBtnTriangle {
    display: block;
}

#playfitBtnTriangle {
    display: none;
    position: absolute;
    left: -50px;
}

#suzukiBtn:hover ~ #suzukiBtnTriangle {
    display: block;
}

#suzukiBtnTriangle {
    display: none;
    position: absolute;
    left: -50px;
}

#cookingBtnTriangle {
    display: none;
    position: absolute;
    left: -50px;
}

.point-to {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media screen and (min-width: 601px) {
  .point-to{
      max-width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .point-to img{
      width: 100%;
  }
}


.cover-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  margin-top: 180px;
}

.cover-container a {
  text-decoration: none;
}

.cover-container a:hover {
  text-decoration: none;
  color: inherit;
}

.cover-container img{
  max-width: 500px;
}

.flexbox-row {
  display: flex;
  margin: auto;
}

@media screen and (min-width: 601px) {
  .flexbox-row{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .flexbox-row{
      flex-direction: column;
      justify-content: flex-start;
      width: 95%;
      margin-bottom: 80px;
  }
}




@media screen and (min-width: 601px) {
  .description{
    max-width: 80%;
    font-size: 20px;
    font-weight: normal;
  }
}

@media screen and (max-width: 600px) {
  .description{
    max-width: 80%;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 20px;
  }
}


.byme {
  position: fixed;
  bottom: 2%;
  padding: 3px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: #676767;
  font-size: 12px;
  background-color: #FAFAFA;
  opacity: 90%;
  font-weight: normal;

}

/* Style the header: fixed position (always stay at the top) */
#header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #DCDCDC;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #F0F0F0;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #989898;
  width: 0%;
}

#not-allowed {
  cursor: not-allowed;
}

a {
  text-decoration: underline;
  color: inherit;
  display: inline;
}

a:hover {
  color: #F8CBCB;
  font-weight: bold;
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}



h1, h2, h3, h4 {
  font-family: "Roboto Mono", monospace;
  }

h1 { /* problem/opportunity */
  font-size: 20px;
  font-weight: 500;

}


h2 { /* gray sub-headline */
  text-transform: uppercase;
  font-size: 16px;
  color: #A9A9A9;
  letter-spacing: 2px;
}

h3 { /* enlarged standout text */
  display: inline;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}


h4 { /* headline */
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 10px;
  }

h5 {
    font-size: 14px;
    font-weight: 300;
    color: #6D6D6D;
    line-height: 30px;
    padding-right: 60px;
  }

h6 { /* image caption */
    font-size: 14px;
    font-style: italic;
    color: #989898;
    font-weight: 300;
    text-align: center;
  }

h7 {
  font-size: 60px;
  font-weight: bold;
  display: block;
}

ul {
  list-style-image: url('tiny-bush.png');
    }
  }



#scroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
    border: none;
    background-color: #fbfbfb;
    color: #008001;
    cursor: pointer;
    padding: 15px
}

/* back to top button */

#btp-button {
  display: inline-block;
  background-color: #000000;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#btp-button::after {
  content: url(up-arrow.svg);

}
#btp-button:hover {
  cursor: pointer;
  background-color: #333;
}
#btp-button:active {
  background-color: #555;
}
#btp-button.show {
  opacity: 1;
  visibility: visible;
}



.page-container {
  line-height: 24px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  justify-content: center;
  object-fit: contain;
}

@media screen and (min-width: 601px) {
.banner img {
  max-width: 75%;
  margin-top: 30px;
  height: auto;
}
}

@media screen and (max-width: 600px) {
.banner img {
  max-width: 580px;
  margin-top: 60px;
  max-height: 250px;
}

}

.case {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

@media screen and (min-width: 801px) {
.case {
  max-width: 75%;
}
}

@media screen and (max-width: 800px) {
.case {
  max-width: 90%;
}
}

.case img{ /* images without shadow */
  height: auto;
  width: 100%;
  margin: auto;
  margin: 10px 0px;
}

.case-img img{
  height: auto;
  width: 100%;
  -webkit-box-shadow: 2px 3px 13px 3px rgba(155,155,155,0.66);
  box-shadow: 2px 3px 13px 3px rgba(155,155,155,0.66);
}

.case-img{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 801px) {
.case-img {
  flex-direction: row;
  align-content: space-around;
  flex: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}
}

@media screen and (max-width: 800px) {
.case-img {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  margin-bottom: 20px;
  margin: auto;
}
}

.insights{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: wrap;
  padding-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 601px){
  .insights{
    flex-direction: row;
  }
}

@media screen and (max-width: 600px){
  .insights {
    flex-direction: column;
  }
}

.insights img {
  max-width: 180px;
  height: auto;
}

.userstory{
  overflow: auto;
  display: flex;
  flex-direction: row;
  border-width: 3px;
  border-style: solid;
  border-color: #DCDCDC;
  margin-top: 20px;
}

@media screen and (min-width: 801px) {
.userstory{
  max-width: 75%;
}
}

@media screen and (max-width: 800px) {
.userstory {
  max-width: 90%;
}
}

.story {
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: #989898;
}

.story img {
  padding-bottom: 10px;
}


@media screen and (max-width: 900px) {
.tools_collab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}

.method-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
.method-container {
  flex-wrap: wrap;
  justify-content: center;
}
}

.method-container ul {
  margin-left: 24px;
  padding: 0;
}

.method-container li {
  line-height: 32px;
}

.row-container{ /* problem statement */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
}

.rectangle {
  background: black;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 30px;

}

.problem-statement {
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.opportunities {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

/*.learning {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}*/

.gif img {
  padding-bottom: 30px;
  padding-top: 20px;
  max-width: 230px
}

.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.text {
  max-width: 300px;
  flex-grow: 1;
}


.bottom-space {
  height: 120px;
}



.hmw {
  margin: 0;
  border: 1px solid gray;
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px 50px;
  text-align: center;

}


.reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Roboto Mono", monospace;
  font-style: italic;

}

.review {
  width: 350px;
}


@media screen and (min-width: 601px) {
.about-container{
  flex-direction: row;
  width: 80%;
}
}

@media screen and (max-width: 600px) {
.about-container {
  flex-direction: column-reverse;
  width: 95%;
}
}

.about-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}


.about-container img {
  width: 80%;
}


.logos {
  display: flex;
  flex-direction: row;

}

.logos img{
  width: 45px;



}

/* lightbox

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 10px 62px 0px 62px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;

}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0 0 0 0;
  width: 80%;
  max-width: 1200px;
}

.slide {
  display: none;

}

.image-slide {
	width: 100%;
}

.modal-preview {
	width: 100%;
}


img.active,
.preview:hover,
.modal-preview:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
  background-color: gray;
  opacity: 0.5;
}

*/
